body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    margin: 0;
    display: flex;
}

.imgTDP { 
    width: 200px;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 10px;   
}

/* Media query para pantallas de 800px o menos */
@media (max-width: 800px) {
    .imgTDP {
        display: none; /* Ocultar la imagen */
    }
}

.sidebar {
    width: 250px;
    background-color: #468585;
    color: #fff;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header h1 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin: 20px 0;
}

.sidebar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    display: block; /* Asegura que el enlace ocupe todo el espacio del elemento de lista */
    padding: 10px; /* Espaciado para mejor usabilidad */
    border-radius: 4px; /* Bordes redondeados para un mejor estilo */
}

.sidebar-menu a.active {
    background-color: #356565; /* Color de fondo para la opción seleccionada */
    font-weight: bold; /* Estilo de fuente para destacar la opción seleccionada */
}


.main-content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4F2;
    width: 100vw; /* Ocupa el ancho completo de la pantalla */
    min-height: 100vh; /* Ocupa al menos la altura completa de la pantalla */
    box-sizing: border-box; /* Incluye el padding en el tamaño total */
}

.titulo {
    font-size: 24px;
    text-align: center;
    color: #131842;
}

.subtitulo {
    font-size: 20px;
    text-align: center;
    color: #131842;
}

.search-options {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group {
    display: inline-block;
    margin: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
}

.search-options {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 100px 0;
    flex-wrap: wrap; /* Permite que las opciones se acomoden en varias líneas si es necesario */
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Se ajusta al ancho del contenedor */
    max-width: 500px; /* Limita el ancho máximo */
}

.form-group label {
    font-size: 16px;
    margin-bottom: 20px;
}

.form-group select {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #a9aead;
    box-sizing: border-box;
}

.documents-list {
    width: 100%;
    margin: 20px 0;
    text-align: center;
}

.documents-list ul {
    list-style: none;
    padding: 0;
}

.documents-list li {
    font-size: 16px;
    margin: 5px 0;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Se ajusta al ancho del contenedor */
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 300px; /* Limita el ancho máximo */
    padding: 15px;
    border-radius: 30px;
    background: #134B70;
    color: #EEEEEE;
    text-align: center;
    font-size: 20px;
    font-family: "Shippori Antique", sans-serif;
    transition: background-color 0.3s;
    cursor: pointer;
    border: none;
}

.search-button ion-icon {
    margin-right: 10px; /* Espacio entre el ícono y el texto */
    font-size: 24px; /* Tamaño del ícono */
    vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
}

.search-button:hover {
    background-color: #508C9B;
}
