
body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    color: #333;
}
h1 {
    text-align: center;
    color: #353d46;
}


.imgEmpresa {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 280px;
    height: 154px;
    object-fit: contain; /* Asegura que el logo mantenga su proporción */
  }
  
  /* Ajustes para pantallas más pequeñas */
  @media (max-width: 1200px) {
    .imgEmpresa {
        width: 220px;
        height: auto; /* Mantiene la proporción del logo */
        top: 8px;
        right: 4px;
    }
  }
  
  @media (max-width: 992px) {
    .imgEmpresa {
        width: 180px;
        height: auto; /* Mantiene la proporción del logo */
        top: 6px;
        right: 3px;
    }
}
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}
input[type="text"],
input[type="date"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
button {
    background-color: #3a7d81;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.cancelar {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #cc4949;
    text-decoration: none;
}
.cancelar:hover {
    text-decoration: underline;
}


form button {
    background-color: #49aa9d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
form button:hover {
    background-color: #559279;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007bff; /* Azul para destacar */
    font-weight: bold;
    margin-left: 5px;
}

.tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Muestra el tooltip arriba */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
