/* Estilos para ocultar elementos al imprimir */
@media print {
  .search-container,
  .search-container * {
    display: none !important;
  }
}

/* Otros estilos... */

.titulo {
  color: #000000;
  font-size: 28px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

@media print {
  p {
    margin-top: 100px; /* Ajusta este valor según sea necesario */
  }
}


p {
  color: #000000;
  font-size: 20px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
}

/* Estilos para el formulario de búsqueda */
.search-container {
  margin: 30px 0;
  display: flex;
  justify-content: center; /* Centra el contenedor */
  align-items: center; /* Alinea los elementos en la misma línea */
}

.search-container input[type="text"] {
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 15px;
  font-size: 16px;
  flex: 1;
  margin-right: 5px; /* Espacio entre el input y el botón */
}

.search-container button {
  padding: 15px 15px; /* Tamaño reducido del botón */
  border-radius: 20px;
  border: none;
  background-color: #434b4d;
  color: white;
  cursor: pointer;
  font-size: 14px; /* Tamaño de fuente más pequeño */
  width: auto; /* Ajuste automático según el contenido */
}

.search-container button:hover {
  background-color: #546774;
}



.imgEmpresa {
  position: absolute;
  top: 1px;
  right: 5px;
  width: 200px;
  height: 154px;
  object-fit: contain; /* Asegura que el logo mantenga su proporción */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 1200px) {
  .imgEmpresa {
      width: 220px;
      height: auto; /* Mantiene la proporción del logo */
      top: 8px;
      right: 4px;
  }
}

@media (max-width: 992px) {
  .imgEmpresa {
      width: 180px;
      height: auto; /* Mantiene la proporción del logo */
      top: 6px;
      right: 3px;
  }

  .titulo {
      font-size: 28px; /* Reducir tamaño del título en móviles */
  }

  .subtitulo {
      font-size: 20px; /* Reducir tamaño del subtítulo en móviles */
  }
}

@media (max-width: 768px) {
  .imgEmpresa {
      width: 150px;
      height: auto; /* Mantiene la proporción del logo */
      top: 5px;
      right: 2px;
  }
}

@media (max-width: 576px) {
  .imgEmpresa {
      width: 120px;
      height: auto; /* Mantiene la proporción del logo */
      top: 4px;
      right: 1px;
  }

  .titulo {
      font-size: 24px; /* Ajustar más el tamaño del título en móviles */
  }

  .subtitulo {
      font-size: 18px; /* Ajustar más el tamaño del subtítulo en móviles */
  }
}

.file-box {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  width: 100%; /* Ajustar al 100% del contenedor en móviles */
  max-width: 300px; /* Mantener un tamaño máximo */
}

.file-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.file-name {
  margin: 0;
}

/* Estilos para ocultar columnas al imprimir */
@media print {
  .ver-col,
  .eliminar-col {
    display: none !important;
  }
}

/* Estilos para ocultar elementos al imprimir */
@media print {
  .search-container,
  .search-container * {
    display: none !important;
  }

  p {
    margin-top: 100px; /* Ajusta este valor según sea necesario */
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Shippori Antique", sans-serif;
  text-align: center; /* Centra el contenido dentro de la tabla */
  margin: 0 auto; /* Centra la tabla en el contenedor */
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

td:first-child {
  text-align: left;
}

th {
  font-weight: bold;
  background-color: #5fdac9;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 4px 8px;
  background-color: #3ca9d8;
  color: #fff;
  border-radius: 4px;
  position:relative;
}

.regresar-home {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 4px 8px;
  background-color: #5CA0BB;
  color: #fff;
  border-radius: 4px;
  position: relative;
  left: 80px;
}

.icon {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  vertical-align: middle;
  align-items: center;
}

/* Estilo para el botón de eliminar */
.boton-eliminar {
  background-color: #c1121f; /* Color de fondo rojo */
  color: #ffffff; /* Color de texto blanco */
  border: none; /* Sin borde */
  padding: 5px 10px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  border-radius: 5px;
  align-items: center;
}

h2 {
  color: #000000;
  font-size: 22px;
  font-family: "Shippori Antique", sans-serif;
  text-align: center;
  margin-bottom: 50px; /* Puedes ajustar el valor según tus necesidades */
}

.totalFolios {
  color: #000000;
  font-size: 25px;
  font-family: "Shippori Antique", sans-serif;
  text-align: right;
}

.paginacion a.selected {
  background-color: #62cb95;
  color: white;
}


.firma {
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.firma input[type="text"] {
  border: none;
  border-bottom: 1px solid #000;
  width: 150px;
  text-align: center;
  margin-top: 5px;
}

.tabla-contenedor {
  padding: 20px;
  background-color: #f9f9f9; /* Cambia el color de fondo según tus necesidades */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #c9c1c1; /* Cambia el estilo del borde según tus necesidades */
}

.table th {
  background-color: #758ba3; /* Color de fondo para encabezados */
  color: white; /* Color de texto para encabezados */
}

.paginacion {
  text-align: center;
  margin-top: 20px;
}

.paginacion a {
  margin: 0 5px;
  text-decoration: none;
  color: #ffffff;
}

.pagina-actual {
  font-weight: bold;
  color: #333;
}

.imprimir-pdf-btn {
  margin-bottom: 20px;
  text-align: right;
  font-family: "Shippori Antique", sans-serif;
}

.imprimir-pdf-btn button {
  text-align: right;
  font-family: "Shippori Antique", sans-serif;
  background-color: #187542;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
}

.imprimir-pdf-btn button:hover {
  background-color: #4d8350;
}
