@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.carousel {
    display: none;
}

.carousel .slide {
    display: none;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel .slide.active {
    display: block;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

.carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-indicators button {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.carousel-indicators .active {
    background-color: #000;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 50px;
    margin: 0 auto; /* Añade esta línea para centrar horizontalmente */
}

.form-container {
    width: 100%;
    max-width: 600px;
    text-align: center; /* Añade esta línea para centrar la imagen */
}

.form-container img {
    width: 250px; /* Aumenta el tamaño de la imagen */
    margin-bottom: 100px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form .form-control {
    margin-bottom: 25px;
    padding: 10px;
    font-size: 26px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container form .form-control:focus {
    outline: none;
    border-color: #007bff;
}

.form-container form .form-text {
    text-align: right;
    font-size: 14px;
    color: #6c757d;
}

.form-container form .btn {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #269174;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-container form .btn:hover {
    background-color: #046C51;
}


@media(min-width: 992px) {
    .carousel {
        display: block;
        width: 50%;
        overflow: hidden;
        position: relative;
    }
}
