.titulo{
    color: #000000;
    font-size: 48px;
    font-family: Rockwell;
    text-align: center;
}

.imgSantiago{ 
    position: absolute;
    top: 10px;
    left: 15px;
    width: 150px;
    height: 150px;      
  }
  
  .imgEmpresa{
    position: absolute;
    top: 10px;
    right: 15px;
    width: 304px;
    height: 84px;
  }
.btn_contenedor{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10px; /* Ajusta la altura según tus necesidades */
}

button {
   width: 418px;
  height: 83px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #24aa8f;
  position: relative;
  left: 40px;
  top: 80px;

  color: #000000;
  text-align: center;
  font-size: 20px;
  font-family: Rockwell;
  margin-bottom: 20px; /* Espacio entre botones */
  margin-right: 10px;
  transition: background-color 0.3s; /* Agregamos una transición suave para el cambio de color */
  }

  button:hover {
    background-color: #6ed4b9; /* Cambia el color al pasar el cursor sobre el botón */
  }